

.main {
    // width: 85%;
    // background-color: red;
    // perspective: 1000px;
    margin: 0 auto;
    // padding-top: 10rem;

    &__section {

        margin: 0 auto;

        &--about {
            // background-color:;
            background:  
             url(https://s.cdpn.io/79/glow.png) no-repeat fixed center top, 
            url("https://s.cdpn.io/79/light-noise.gif") repeat fixed 0 0
            ;
            padding: 10rem 7.5%;

        }
    
        &--works {

            

            border-width: 1px 0;
            border-color: rgba($color-black, .35);
            border-style: solid;
            
            
            
      

            background-image:
                repeating-conic-gradient(rgba($color-black, .5), rgba($color-black, .5) 3%, rgba($color-black, .6) 5%, rgba($color-black, .6) 7%, rgba($color-black, .5) 9%),
                linear-gradient(10deg, rgba($color-black, .1) 30%, transparent 30% ),
                linear-gradient(20deg, rgba($color-white, .1) 10%, transparent 10% ),
                linear-gradient(8deg, rgba($color-black, .1) 40%, transparent 40% ),
                linear-gradient(28deg, rgba($color-black, .1) 40%, transparent 40% ),
                linear-gradient(38deg, rgba(red, .1) 40%, transparent 40% ),
                linear-gradient(138deg, rgba($color-black, .1) 40%, transparent 40% ),
                linear-gradient(8deg, rgba($color-black, .1) 60%, transparent 60% ),
                linear-gradient(-52deg, rgba($color-black, .1) 60%, transparent 60% ),
                linear-gradient(40deg, rgba($color-white, .1) 80%, transparent 80% ),
                linear-gradient(-40deg, rgba($color-black, .1) 80%, transparent 80% ),
                linear-gradient(70deg, rgba($color-white, .1) 70%, transparent 70% ),
                linear-gradient(80deg, rgba($color-white, .1) 70%, transparent 70% ),
                linear-gradient(90deg, rgba($color-white, .1) 70%, transparent 70% ),
                linear-gradient(110deg, rgba($color-white, .1) 70%, transparent 70% ),
                linear-gradient(70deg, rgba($color-white, .1) 60%, transparent 60% ),
                linear-gradient(50deg, rgba($color-white, .1) 50%, transparent 50% ),
                conic-gradient(at 45% 45%, #1e55d9 10%,#540bba 25%, #ba0b42 70%, #1e55d9)
            ;
            // filter: brightness(100%);
            // linear-gradient(to bottom, rgba($color-black, 0.2) 1%, transparent 8%, transparent 92%, rgba($color-black, 0.2) 99%),
            // linear-gradient(156deg, rgba($color-black, 0.8),rgb(172, 143, 143)),
            // linear-gradient(red, purple);
            background-attachment: fixed;   

            // box-shadow:inset 0 5px 20px -3px rgba(0, 0,0 ,.7);
            // background: //linear-gradient(145deg, rgba(0, 0, 0, 0.66) -25%, rgba(255, 255, 255, 0.248) 80%),
            // linear-gradient(-35deg, rgba(255, 255, 0, 0.219) 30%, transparent 30%),
            // linear-gradient(-35deg, rgba(255, 255, 0, 0.432) 30%, transparent 30%),
            // linear-gradient(-105deg, rgba(117, 70, 148, 0.418) 30%, rgba(255, 255, 255, 0.145) 30%),
            // linear-gradient(-5deg, rgba(41, 148, 94, 0.384) 60%, transparent 30%),
            // linear-gradient(-5deg, rgba(206, 53, 60, 0.84) 25%, rgba(255, 255, 255, 0.116) 80%),
            // repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.65) 3%, rgba(255, 255, 255, 0.7) 6%),
            // repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 3%, rgba(0, 0, 0, 0.75) 6%),
            // rgba(59, 40, 40, 0.397);
            position: relative;
            overflow: hidden;
            // margin-bottom: 15rem;
            &::before {
                position: absolute;
                top:50%;
                content:'';
                width: 110%;
                left:50%;
                transform: translate(-50%, -50%);
                height: 110%;
                border-radius: 10%;
                // border: 20px solid black;
                box-shadow:inset 0 0px 50px 15px rgba($color-black, 0.9);
                // box-sizing: border-box;
            }

            .bg-overlay {

            }

            .works-container {
                width: 75%;
                height: 40rem;
                background: rgba($color-white, .7);
                margin: 13rem auto;  
                padding: 5rem;  
            }
        }
    
        &--contact-me {
    
            // height:5900px;
            // background:black;
            // margin: 0 auto;
            // background: rgb(255, 246, 227);
            
            margin-bottom: 0;
            padding: 10rem 0 20rem 0;
    
            .form-container {
                
                position: relative;
                padding: 3.5rem 2.5rem;
                width:55%;
                margin: 0 auto;
                // z-index: 110;
                border-radius: 5px;
                // box-shadow: 0 13px 8px -2px rgba($color-black, .55);
                box-shadow: 5px 4px 3px -1px rgba($color-black, .25);
                background: rgba(rgb(255, 210, 186), 1);//rgba(184, 155, 117, .65);//#8f51c9

                // &::before, &::after {

                //     content:'';
                //     position: absolute;
                //     bottom: 0;
                //     width:30%;
                //     box-shadow: 0 0 20px 7px rgba($color-black, .65);
                //     z-index: -1;
                // }
            
                // &::before {
                //     left: 2.5%;
                //     transform: rotateZ(-3deg);
                // }
                
                // &::after {
                //     right: 2.5%;
                //     transform: rotateZ(3deg);
                // }
                
                
            }
    
        }

    }


}


