
@import url('https://fonts.googleapis.com/css?family=  font-family:Abril+Fatface|Saira+Extra+Condensed|PT+Sans+Narrow|Montserrat+Alternates|Montserrat|Montserrat+Subrayada|Squada+One&display=swap');

.heading-primary {
    perspective: 500px;
    text-align: center;
    // perspective:3420px;
    // perspective-origin: 100% 100%;
    span {

    }
    
    &--main {
        position: relative;
        font-family: 'Montserrat Subrayada', sans-serif;
        text-transform: capitalize;
        display: inline-flex;
        padding: 0.5rem 2.2rem;
        letter-spacing: 5px;
        // width: fill-content;
        // border: 1px solid gold;
        // letter-spacing: 3px;
        // color: rgb(212, 173, 173);
        text-shadow:  0 0 0 rgb(218, 179, 108), -1px 0px 1px rgb(87, 57, 2),-2px -1px 0px rgba($color-white, .8), -3px -1px 8px rgba($color-white, .6), -4px -3px 11px rgba($color-white, .500445), 
        2px 0 0px rgba($color-black, .85), 3px 0 0px rgba($color-black, .85), 4px -1px 1px rgba($color-black, .85), 5px -1px 2px rgba($color-black, .85), 5px -1px 3px rgba($color-black, .85), 7px -2px 3px rgba($color-black, .85),
        9px -2px 5px rgba($color-black, .7), 9px -2px 7px rgba($color-black, .4), 10px -3px 7px rgba($color-black, .35), 12px -4px 10px rgba($color-black, .65),  13px -5px 12px rgba($color-black, .5), 14px -4px 12px rgba($color-black, .65);         //, 2px 0px 0px rgba($color-black, .9), 6px -2px 9px rgba($color-black, .75), 9px -2px 8px rgba($color-black, .45), 11px -3px 3px rgba($color-black, .25), 18px -3px 3px rgba($color-black, .2), 21px -4px 2px rgba($color-black, .1);
        background: black; 
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        margin-bottom: 15px;
        // 0px -1px 1px black, 0px 1px 1px white, 2px 5px 5px rgba(0, 0, 0 ,.4),
        // text-shadow:  2px 2px 3px rgba(0, 0, 0 ,.56), 4px 10px 5px rgba(0, 0, 0 ,.6), 6px 15px 15px rgba(0, 0, 0 ,.72), 8px 20px 2px rgba(0, 0, 0 ,.721);

        font-size: 5rem;
        line-height: 6.5rem;
        // border-radius: 29px;
        // box-shadow: inset 0 -9px 10px -12px rgb(0, 0, 0), inset 0 -11px 10px -12px rgb(245, 14, 14), inset 0 -14px 10px -12px rgb(228, 193, 37), inset 0 -21px 10px -11px rgb(255, 255, 255);
        

        // &::after {
        //     position: absolute;
        //     left: 50%;
        //     top: 50%;
        //     content: '';
        //     width: 100%;
        //     height: 100%;
        //     padding: 0.4rem;
        //     border-radius: 4px;
        //     box-shadow: 0 0 5px -1px rgba(0, 0, 0, .375);
        //     transform: translate(-50%, -50%);
        //     background:  rgba(192, 192, 192, 0.555);
        //     // background:red;
        // }
        
        // transform: rotateY(deg);
        // transform-origin: 10% 10%;

        &::after {

            position: absolute;
            content:'';
            width:45%;
            bottom: 0;
            border-top: 1px solid rgb(48, 1, 1);
            border-bottom: 1px solid rgb(160, 160, 160);
            left:50%;
            transform: translateX(-50%);
        }
    }

    &--sub {
        display: block;
        width: 66%;
        margin:0 auto;
        transform-style: preserve-3d;
        transform: rotateX(30deg);
        // -webkit-clip-path: polygon(0 0, 94% 0, 100% 100%, 0 100% );
        // clip-path: polygon(7% 0, 93% 0, 100% 100%, 0 100% );
        background:linear-gradient(to bottom, white 50% ,silver rgb(228, 208, 93), rgb(189, 171, 72));//linear-gradient(-30deg, rgb(121, 121, 121) 5%, rgba(175, 175, 175, 0.996) 42%, rgba(175, 175, 175, 0.996) 46%, rgba(255, 255, 255, .8) 50%, rgba(175, 175, 175, 0.996) 54%, rgb(175, 175, 175) 58%, rgb(121, 121, 121)100%);
        color:transparent;//rgb(0, 0, 0);
        background-clip: text;
        -webkit-background-clip: text;
        text-shadow: 0 0 0 rgb(175, 119, 127), -1px -1px 0px rgba(0, 0, 0, 0.9747), 1px 1px 0 rgba(255, 255, 255, 0.637);
        // transform: rotateY(-6deg);
        // transform-origin: 10% 100%;
        position: relative;
        letter-spacing: 5px;
        // z-index: 3;
        // font-family: 'Montserrat Alternates', sans-serif;
        // font-family: 'PT Sans Narrow', sans-serif;  
        font-family: 'Saira Extra Condensed', sans-serif;
        // font-family: 'Abril Fatface';
        font-size: 2.83rem; 
        text-transform: capitalize;
        line-height: 4.6rem;
        // background-image: linear-gradient(70deg, silver, black, silver);
        // color: rgba($color-black, .6);
        // text-shadow: 1px -1px 1px rgb(240, 236, 236);
        // background: linear-gradient(to left,rgba($color-white, .245) 20%, transparent 80%, rgba($color-white, .245));
        // color: transparent;
        // background-clip: text;
        // -webkit-background-clip: text;
        font-weight: 600;
        // color: rgba($color-black, .75);
        // border-radius: 7.5rem 3.5rem 7.5rem 3.5rem;
    //    box-shadow: 0 0 10px -2px purple,0 3px 20px -10px gold;
    //    border: 1px solid rgb(236, 111, 236);
        // text-shadow: 2px 2px 2px rgba($color-white, .632583564),  4px 4px 2px rgba($color-white, .32583564);
        // display: flex;
        // flex-shrink: 1;/
        // transform-style: preserve-3d;
        // transform: skewX(-9deg) rotateY(-10deg);
        border-top: 1px solid rgba(138, 33, 33, 0.397);
        box-shadow: 0 4px 10px -6px rgba($color-black, .85), inset 0 0 100px 9px white;

        &--special {
            display: inline-block;
            // background: 
        }

        &::before {
            // position: absolute;
            // content:'';
            // width:100%;
            // height:100%;
            // top: 50%;
            // left: 50%;
            // // background:rgba($color-white, .283564);
            // // z-index: 2;
            // transform: translate(-50%, -50%);

            position: absolute;
            bottom: -35%;
            left:0;
            border-width: 8px 17px 8px;
            border-style: solid;
            border-color: rgba($color-white, .5) rgba($color-white, .5) transparent transparent;
            content:'';
            // width:10px;
            // height:10px;
            // background:red;
        }
        
        &::after {
            // position: absolute;
            // content:'';
            // width:100%;
            // height:100%;
            // top: 50%;
            // left: 50%;
            // // background:rgba($color-white, .283564);
            // // z-index: 2;
            // transform: translate(-50%, -50%);

            position: absolute;
            bottom: -35%;
            right:0;
            border-width: 8px 17px 8px;
            border-style: solid;
            border-color: rgba($color-white, .67) transparent transparent rgba($color-white, .67);
            content:'';
            // width:10px;
            // height:10px;
            // background:red;
        }
    }
}

.copyrights-container {


    &__copyrights {

        text-transform: capitalize;
        font-weight: 00;
        min-width: 45%;
        text-align: center;
        // line-height: 4rem;  
        margin: 0 auto;
        font-size: 1.9rem;
        letter-spacing: 0.9rem;
        font-family: 'Montserrat Alternates', sans-serif;
        color: transparent;
        // background: rgb(221, 203, 99); 
        // text-shadow:rgba($color-black,0.45) 1px 3px 3px,  rgba(255,255,255,0.5) 0 2px 2px;
        -webkit-background-clip: text;
        background-clip: text;


        
  background-color: rgba(82,96,117,0.9);
  text-shadow: rgba(255,255,255,0.5) 0 5px 6px,rgba(255,255,255,0.2) 1px 3px 3px;
        // background-color: white;
    }
}

.h2-container {

    text-align: center;    
    margin-bottom: 6.5rem;

    // &__h2 {

    //     position: relative;
    //     // width: 15%;
    //     font-weight: 100;
    //     display:inline;
    //     font-size: 3rem;
    //     color: rgba($color-black, .35);
    //     // text-decoration: underline;
    //     text-transform: uppercase;
    //     text-shadow: 4px 4px 1px rgba(0, 0, 0, .12);
    //     font-family: 'Montserrat';   

    //     &::after {
    //         content: '';
    //         position: absolute;
    //         width: 75%;
    //         left: 50%;
    //         bottom: -21%;
    //         transform: translate(-50%);
    //         border-bottom: 1px solid rgba(0, 0, 0, 0.2);   
    //     }
    // }


}

.h2 {

    position: relative;
    // width: 15%;
    font-weight: 100;
    display:inline;
    font-size: 3rem;
    color: rgba($color-black, .35);
    // text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, .12);
    font-family: 'Montserrat';   

    &::after {
        content: '';
        position: absolute;
        width: 75%;
        left: 50%;
        bottom: -21%;
        transform: translate(-50%);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);   
    }
}

.about__list {

    // padding: 0 4rem;
    font-size: 3rem;
    text-align: left;
    font-family: 'Montserrat';  

    ul {

        // list-style-position: outside;

        li {
            
            position:relative;
            margin-bottom: 1rem;
            line-height: 3rem;
            padding-left: 6rem;
            color: rgb(85, 48, 18);
            font-size: 1.8rem;

            &::before { 
                content: '';
                // display: inline-block;
                position: absolute;
                left: 0;
                top: 1.5rem;
                transform: translateY(-50%);
                border-radius: 250px;
                // margin-right: 4.6rem;
                width: 1rem;
                height: 1rem;
                background: conic-gradient(from 0.15turn,  rgba(0, 0, 0, 0.1) 8%, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.9));
                background-color: black;
                // box-shadow: -3px 3px 7px 0px rgba($color-black, .55);
            }

            .francine-link {
                font-weight: 900;
                color: rgb(213, 47, 255);
            }

            blockquote {
                text-align: center;
                font-weight: 600;
                letter-spacing: .9rem;
                // padding-left: 3rem;
            }
        }
    }
}