
.main {
    // width: 85%;
    // background-color: red;
    margin: 0 auto;
    // padding-top: 10rem;
}

.about-section {
    margin: 0 auto;
    margin-bottom: 10rem;
    width: 85%;


}

.works-section {

    height:400px;
    background:silver;
}

.contact-me-section {

    height:500px;
    // background:black;

    .form-container {

        
    }

}